@media (max-width:1175px) {
    .nav ul{
        width: 100%;
    }
    .about-img img{
        width: 400px;
    }
    .about-z-index{
        width: 400px;
    }

}
@media (max-width:953px) {
    .nav ul{
        padding: 32px;
        width: 90%;
        line-height: 36px;
    }
    .about-img img{
        width: 300px;
    }
    .about-z-index{
        width: 300px;
    }
    
}
@media (max-width:842px) {
    .header{
        height: 50vh;
    }
    .about-img img{
        width: 80vw;
    }
    .pr{
        display: none;
    }
    .about-z-index{
        width: 80vw;
    }
    .about-right{
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }
    .child{
        flex: 0 0 44%;
        margin: 2% 1.5%;;
        border-radius: 10px;
    }
}
@media (max-width:680px) {
    .header{
        height: 30vh;
    }
    .header  .logo {
        width: 80%;
        text-align: center;
        margin-left: 50px;
    }

    .navbar label {
        display: block;
        margin-right: 10px;
    }

    .navbar .nav {
        width: 100%;
        margin: 20px 10px 0;
    }
    .navbar .nav ul {
        display: none;
        padding: 10px;
        text-align: center;
    }
    .navbar .nav ul a{

        margin-left: 0;
    }

    .navbar input {
        display: none;
    }


    .navbar input:checked ~ .nav ul {
        display: block;
    }
    .child{
        flex: 1 0 50%;
        margin: 2% 1.5%;
        border-radius: 10px;
    }
    .two{
        width: 90%;
    }
    .search-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-box{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.search-box button{
    width: 25vw;
}
    .search-box input{
        margin-bottom: 2vh;
        width: 60vw;
    }
    .about-right button{
        margin-bottom:1vh;
}
@media (max-width:480px) {
    .nav ul li a{
        margin-left: 10px;
    }
    
    .one form input{
        width: 80vw;
    }
    .profile{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .fruit-shop img{
        width: 60vw;
    }
    .footer{
        padding: 0px;
    }
    .what-head hr{
display: none;    }
    .arrow-left{
        display:none;
    }
    .what-head h1{
        font-size: 25px;
    }
    .arrow-right{
        display: none;
    }
.fresh-fruit-head{
    margin-left: 0px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fresh-fruit-head hr{
    display: none;
}
    .two iframe {
        height: 233px;
        width: 80vw;
        margin-top: 20px;
    }
    .ba p{
        font-size: 10px;
    }
    .fruit-shop button {
        width: 30vw;
    }
    .search-box button{
        width: 35vw;
    }
}
